@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

label {
    margin-bottom: 0px;
}

.paper {
    padding: 25px;
    background-color: #ffff;
    box-shadow: 0 0 1em black;
    color: black;
}

.benfdivdatabox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 0;
}

.benfdivdata p {
    border: 1px solid #ccc;
    color: #495057;
    font-weight: 400;
    padding: 5px;
    border-radius: 0.2rem;
    margin: 0;
}

.paperFormPrint {
    padding: 25px;
    background-color: #ffff;
    box-shadow: 0 0 1em black;
    color: black;
}

.form-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-group {
    margin-bottom: 0px;
}

.form-header-logo {
    text-align: center;
}

.form-header-title {
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-controler {
    display: flex;
    margin: 10px 0 10px 0;
    width: 100%;
}

.form-row {
    /* font-size: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    margin: 10px;
}

fieldset {
    margin: 10px 0 10px 0;
    border: solid 2px #ccc;
}

legend {
    font-weight: 600;
    font-size: 16px;
    width: auto;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    margin-left: 10px;
    margin-bottom: 0px;
}

.frag {
    margin: 0 7px 0 7px;
    width: 100%;
}

.frag input {
    width: 100%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.Htitle {
    font-size: 24px;
}

body::-webkit-scrollbar {
    width: 10px
}

.BtnAss {
    margin-top: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #003bd1;
    border-color: #003bd1;
}

.myUl {
    margin-right: 20px;
    list-style: inherit;
}

.table td,
.table th {
    padding: 0.75rem;
    vertical-align: inherit;
    border-top: 1px solid #dee2e6;
}

.EditBtn,
.VizuBtn {
    background-color: transparent;
    border-color: transparent;
    color: #003bd1;
}

.table .thead-blue th {
    color: #fff;
    background-color: #003bd1;
    border-color: #003bd1;
}

.modal-header {
    border-bottom: 0px;
}

.modal-footer {
    border-top: 0px;
}

#InputFileDocs {
    width: 100%;
    border: solid 1px #d0cece;
    border-radius: 3px;
    margin-bottom: 10px;
}

#files-area {
    width: 30%;
    margin: 0 auto;
}

.file-block {
    border-radius: 10px;
    background-color: rgba(144, 163, 203, 0.2);
    margin: 5px;
    color: initial;
    display: inline-flex;

}

.file-block>span.name {
    padding-right: 10px;
    width: max-content;
    display: inline-flex;
}

.file-delete {
    display: flex;
    width: 24px;
    color: initial;
    background-color: #6eb4ff00;
    font-size: large;
    justify-content: center;
    margin-right: 3px;
    cursor: pointer;
}

.file-delete:hover {
    background-color: rgba(144, 163, 203, 0.2);
    border-radius: 10px;
}

.file-delete>span {
    transform: rotate(45deg);
}

.remove-list {
    cursor: pointer;
    padding: 3px 10px 4px 5px;
    background-color: #dedddd;
    min-width: 10px;
    height: 5px;
    border-radius: 25px;
    margin-left: 10px;
}

.myli {
    background-color: #eceaea;
    width: fit-content;
    padding: 4px 2px 5px 12px;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
}
